In [112]:
import datetime
import pandas as pd
from datetime import datetime
import requests
import json

In [113]:
item_list = "Resources\items.json"
item_list_df = pd.read_json(item_list, encoding= "ISO-8859-1")
item_list_df

,1,2,3,4,5,6,7,8,9,10,...,44391,44392,44393,44394,44395,44396,44397,44398,44399,44400
en,Gil,Fire Shard,Ice Shard,Wind Shard,Earth Shard,Lightning Shard,Water Shard,Fire Crystal,Ice Crystal,Wind Crystal,...,,,,,,,,,,
de,Gil,Feuerscherbe,Eisscherbe,Windscherbe,Erdscherbe,Blitzscherbe,Wasserscherbe,Feuerkristall,Eiskristall,Windkristall,...,,,,,,,,,,
ja,ã®ã«,ãã¡ã¤ã¢ã·ã£ã¼ã,ã¢ã¤ã¹ã·ã£ã¼ã,ã¦ã£ã³ãã·ã£ã¼ã,ã¢ã¼ã¹ã·ã£ã¼ã,ã©ã¤ããã³ã°ã·ã£ã¼ã,ã¦ã©ã¼ã¿ã¼ã·ã£ã¼ã,ãã¡ã¤ã¢ã¯ãªã¹ã¿ã«,ã¢ã¤ã¹ã¯ãªã¹ã¿ã«,ã¦ã£ã³ãã¯ãªã¹ã¿ã«,...,,,,,,,,,,
fr,Gil,Ãclat de feu,Ãclat de glace,Ãclat de vent,Ãclat de terre,Ãclat de foudre,Ãclat d'eau,Cristal de feu,Cristal de glace,Cristal de vent,...,,,,,,,,,,

In [114]:
# Initialize empty lists to store extracted data
item_ids = []
item_values = []

# Extract and append data
for item_id, item_data in item_list_df.items():
  # Extract item ID (dictionary key)
  item_ids.append(item_id)
  
  # Extract value for "en" key (assuming English)
  if "en" in item_data:  # Check if "en" key exists
    item_values.append(item_data["en"])
  else:
    item_values.append("N/A")  # Handle missing English key (optional)

# Create DataFrame
item_id_df = pd.DataFrame({"ID": item_ids, "English Value": item_values})


# Define the search function using a lambda function
search_id = lambda name: item_id_df[item_id_df["English Value"] == name]["ID"].iloc[0]  # Assuming unique names

# Get user input for name to search
input_name = input("Enter the name to search for (English value): ")

# Try searching for the ID and handle potential errors
try:
  id_found = search_id(input_name)
  print(f"ID for '{input_name}': {id_found}")
except IndexError:
  print(f"Error: Item with name '{input_name}' not found in the DataFrame.")

id_found

ID for 'Blue Cheese': 4755

4755

In [115]:


url = "https://universalis.app/api/v2/"
world = input("What world are you searching in? (ie Gilgamesh, Siren, Cactaur...)")






universalis_url = f"{url}{world}/{id_found}"
response_data = requests.get(universalis_url).json()
print(json.dumps(response_data, indent=4))

{
    "itemID": 4755,
    "worldID": 63,
    "lastUploadTime": 1718928116944,
    "listings": [
        {
            "lastReviewTime": 1718884806,
            "pricePerUnit": 439,
            "quantity": 50,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "401aeffeec47d699f53a49b955e411e1889a9916bb5b190f600b4369a5e67e15",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 2,
            "retainerID": "881c99219afdf7e8ddc9a451bedd9babe6e0336259a74255362026760288bb9c",
            "retainerName": "N'mhora",
            "sellerID": "b5eb435b76aeb5873ddf35a8eb469470cd537c9bc1d33fff652027e699851208",
            "total": 21950,
            "tax": 1097
        },
        {
            "lastReviewTime": 1718902391,
            "pricePerUnit": 440,
            "quantity": 97,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "ecd3a390dd1df0a03d0479c12739d3a4634c21f7e55409cd77bf16c02ec2c166",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 1,
            "retainerID": "c230a76edbd3b25f73b4aa1f83fb3d5a4b6c774505feb5e900f5be1b7db0d962",
            "retainerName": "Skylyn",
            "sellerID": "30e99fcdf5b34c02276cd300b7d097a4a2f8dbea6c4cf8eea56a3efacfcc9bf6",
            "total": 42680,
            "tax": 2134
        },
        {
            "lastReviewTime": 1718884806,
            "pricePerUnit": 443,
            "quantity": 25,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "cdfeb028805c96b9e1237c3ea8f556c1de86d37d59fa559dab2fe06bca170f56",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 2,
            "retainerID": "881c99219afdf7e8ddc9a451bedd9babe6e0336259a74255362026760288bb9c",
            "retainerName": "N'mhora",
            "sellerID": "b5eb435b76aeb5873ddf35a8eb469470cd537c9bc1d33fff652027e699851208",
            "total": 11075,
            "tax": 553
        },
        {
            "lastReviewTime": 1718895776,
            "pricePerUnit": 445,
            "quantity": 70,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "d39d66e9231a517d6dfa9f0b57f0922dac32665eb632e95b3dc97f347748f1c5",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 2,
            "retainerID": "a6c580ce11e68df9b73e3beb308210753cccb21c930ec1d6e17e2e776f01d424",
            "retainerName": "Thula",
            "sellerID": "cde387f3d873337a71bef35adce25b112ed7bd2d366cb42098d7f8de39e150fd",
            "total": 31150,
            "tax": 1557
        },
        {
            "lastReviewTime": 1718915436,
            "pricePerUnit": 450,
            "quantity": 50,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "634d8ee4bbb3ab094a07cd00d71fc6a59ee3c62e17e2fb044d62b6586ff574a6",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 1,
            "retainerID": "273510b5d00ff2832be2183f0901492a08c9e0d6d2a211d32fda3b1a43be4815",
            "retainerName": "Galleus",
            "sellerID": "a383cd82911f650361728e314fd23b534398f94bd4c04a0e2b7446b0baae96dc",
            "total": 22500,
            "tax": 1125
        },
        {
            "lastReviewTime": 1718915436,
            "pricePerUnit": 450,
            "quantity": 35,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "504f377ef18810e3c8d506e4b2742ff0707fa7808e9e4717460a02e76e871e2b",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 1,
            "retainerID": "273510b5d00ff2832be2183f0901492a08c9e0d6d2a211d32fda3b1a43be4815",
            "retainerName": "Galleus",
            "sellerID": "a383cd82911f650361728e314fd23b534398f94bd4c04a0e2b7446b0baae96dc",
            "total": 15750,
            "tax": 787
        },
        {
            "lastReviewTime": 1718915436,
            "pricePerUnit": 450,
            "quantity": 35,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "c3af0eca99e431f6e4e4b48124b37c1caa6b3d7213ebf4e2294af438cb6babff",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 1,
            "retainerID": "273510b5d00ff2832be2183f0901492a08c9e0d6d2a211d32fda3b1a43be4815",
            "retainerName": "Galleus",
            "sellerID": "a383cd82911f650361728e314fd23b534398f94bd4c04a0e2b7446b0baae96dc",
            "total": 15750,
            "tax": 787
        },
        {
            "lastReviewTime": 1718887443,
            "pricePerUnit": 4200,
            "quantity": 3,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "bc2611e3850f8d403bbae9ec7f00898ffacca54680bf9ed2a79a507712db15e5",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 1,
            "retainerID": "97e4b423210749a5353cbff7fd88e59ff45d9fd055963c4d25f28269e02bb673",
            "retainerName": "Nyaaancat",
            "sellerID": "989c3e29609ee3adebdc70c50bba1abdf0ac74259c1a5adf10f4c10a1fa19249",
            "total": 12600,
            "tax": 630
        },
        {
            "lastReviewTime": 1718887726,
            "pricePerUnit": 42000,
            "quantity": 1,
            "stainID": 0,
            "creatorName": "",
            "creatorID": null,
            "hq": false,
            "isCrafted": false,
            "listingID": "cff7d0b26d9ad9dcc9253405ce2c15a1635ea3c30eff0be6f097f2d2003ea4b8",
            "materia": [],
            "onMannequin": false,
            "retainerCity": 2,
            "retainerID": "0bc700594b8d010315c44c54ec01e56f51e5d11591ef5d16acf9ea27e51b2ecf",
            "retainerName": "Gotta'buy'fast",
            "sellerID": "989c3e29609ee3adebdc70c50bba1abdf0ac74259c1a5adf10f4c10a1fa19249",
            "total": 42000,
            "tax": 2100
        }
    ],
    "recentHistory": [
        {
            "hq": false,
            "pricePerUnit": 425,
            "quantity": 21,
            "timestamp": 1718928105,
            "onMannequin": false,
            "buyerName": "Erebus Tanaka",
            "total": 8925
        },
        {
            "hq": false,
            "pricePerUnit": 499,
            "quantity": 10,
            "timestamp": 1718785327,
            "onMannequin": false,
            "buyerName": "Clarion Aster",
            "total": 4990
        },
        {
            "hq": false,
            "pricePerUnit": 400,
            "quantity": 86,
            "timestamp": 1718666533,
            "onMannequin": false,
            "buyerName": "Suke Oroq",
            "total": 34400
        },
        {
            "hq": false,
            "pricePerUnit": 200,
            "quantity": 68,
            "timestamp": 1718666532,
            "onMannequin": false,
            "buyerName": "Suke Oroq",
            "total": 13600
        },
        {
            "hq": false,
            "pricePerUnit": 501,
            "quantity": 5,
            "timestamp": 1718313548,
            "onMannequin": false,
            "buyerName": "Liliana Bolas",
            "total": 2505
        }
    ],
    "currentAveragePrice": 5479.6665,
    "currentAveragePriceNQ": 5479.6665,
    "currentAveragePriceHQ": 0,
    "regularSaleVelocity": 0,
    "nqSaleVelocity": 0,
    "hqSaleVelocity": 0,
    "averagePrice": 405,
    "averagePriceNQ": 405,
    "averagePriceHQ": 0,
    "minPrice": 439,
    "minPriceNQ": 439,
    "minPriceHQ": 0,
    "maxPrice": 42000,
    "maxPriceNQ": 42000,
    "maxPriceHQ": 0,
    "stackSizeHistogram": {
        "1": 1,
        "3": 1,
        "25": 1,
        "35": 2,
        "50": 2,
        "70": 1,
        "97": 1
    },
    "stackSizeHistogramNQ": {
        "1": 1,
        "3": 1,
        "25": 1,
        "35": 2,
        "50": 2,
        "70": 1,
        "97": 1
    },
    "stackSizeHistogramHQ": {},
    "worldName": "Gilgamesh",
    "listingsCount": 9,
    "recentHistoryCount": 5,
    "unitsForSale": 366,
    "unitsSold": 190
}

In [118]:
# Define the desired keys to extract
desired_keys = [input_name, "recentHistoryCount", "averagePriceNQ", "averagePriceHQ", "listingsCount"]

extracted_values = {}
for key in desired_keys:
  if key in response_data:
    extracted_values[key] = response_data[key]
  else:
    extracted_values[key] = None  # Handle missing keys (optional)



# Create response_dataFrame
df = pd.DataFrame([extracted_values])
df
# Print response_dataFrame

,Blue Cheese,recentHistoryCount,averagePriceNQ,averagePriceHQ,listingsCount
0,None,5,405,0,9